/* pages/Appointments.css */
.appointments-container {
    padding: 20px;
    width: 100%;
  }
  
  .appointments-container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  /* pages/Profile.css */
.profile-container {
    padding: 20px;
    width: 100%;
  }
  
  .profile-container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .profile-container p {
    margin-bottom: 10px;
  }
  
  